#dark {
    background-color: #0d1117;
    color: white;
}

#dark .content {
    box-shadow: 1px 1px 3px rgb(56, 56, 56);
    background-color: rgb(26, 25, 36);
}

#dark .header {
    background-color: rgb(26, 25, 36);
}

#dark select{
    color: white;
}

#dark .theme_icons {
    background-color: #283247;
}

#dark .seletor {
    transform: translate(-5px);
}

#dark hr {
    background-color: rgb(211, 211, 211);
}

#dark .corpo {
    background-color: rgb(26, 25, 36);
}

#dark .senha_interacao_botao{
    color: white;
}

#dark .senha_interacao_botao:hover {
    color: rgb(48, 145, 255);
}

#dark .status_bar_externo {
    background-color: rgb(59, 59, 59);
}

#dark .status_bar_interno {
    background-color: rgb(0, 131, 102);
}

#dark .label {
    color: rgb(170, 170, 170);
}

#dark .senha_tamanho::-webkit-slider-runnable-track {
    background-color: rgb(58, 58, 58);
}

#dark .senha_tamanho::-webkit-slider-thumb {
    background-color: aqua;
    box-shadow: 1px 1px 4px rgb(110, 110, 110);
}

#dark .senha_tamanho:active::-webkit-slider-thumb,
#dark .senha_tamanho:hover::-webkit-slider-thumb {
    border: 1px solid rgb(163, 163, 163);
}

#dark .checkbox {
    border: 2px solid rgb(100, 100, 100);
}

#dark .checkbox:checked {
    background-color: rgb(48, 145, 255);
    border-color: rgb(48, 145, 255);
}

#dark .checkbox:hover {
    border-color: rgb(116, 181, 255);
}

#dark .checkbox:checked~.check_icon {
    color: white;
}

#dark .show_copy {
    background-color: #909090;
    color: white;
}
